@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#nome{
    color: rgba(140, 150, 172, 0.637);
    font-size: 36px;
    font-family: 'Anton', sans-serif;
}

#img-desc{
    margin: auto;
    padding-top: 35px;
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

#forms{
    font-family: 'Anton';
    padding-bottom: 20%;
}