@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#nome{
    color: rgba(140, 150, 172, 0.637);
    font-size: 36px;
    font-family: 'Anton', sans-serif;
}

#img-desc{
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    width: 120px;
    height: 120px;
}

#forms{
    font-family: 'Anton';
    padding-bottom: 30%;
}