<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estoque
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="medium">Estoque</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button shape="round" size="full" fill="outline" color="medium" routerLink="/cadastrar"> Cadastrar </ion-button>
    <ion-button shape="round" size="full" fill="outline" color="medium"> Entrada/Saída </ion-button>
    <ion-button shape="round" size="full" fill="outline" color="medium"> Histórico </ion-button>
  </div>
</ion-content>
